@import './base.css';

* {
  user-select: none;
}

#app {
  margin: 0;
  padding: 0rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 650px) {
  #app {
    /* display: flex;
    flex-direction: row; */
  }

}

@media (max-width: 650px) {}

.TabItemMain {
  margin: 2px 1.5rem;
}